{% comment %}
  !!! Documented in _includes/README.md
  !!! Humans (or AI): if you change this file, update the README too!
{% endcomment %}

{% assign _caption_plain = include.caption | markdownify | strip_html | strip %}
{% assign _alt = include.alt | default: _caption_plain | default: "" %}
{% assign _side_class = "" %}
{% if include.side == "left"  %}{% assign _side_class = " article-figure--left"  %}{% endif %}
{% if include.side == "right" %}{% assign _side_class = " article-figure--right" %}{% endif %}

{% capture _style %}{% if include.maxwidth %}max-width:{{ include.maxwidth }};{% endif %}{% endcapture %}

<figure class="article-figure{{ _side_class }}{% if include.class %} {{ include.class }}{% endif %}"{% if _style != "" %} style="{{ _style }}"{% endif %}>
  {% if include.lightbox == "no" %}
  <img src="{{ include.image }}" alt="{{ _alt }}">
  {% elsif include.link %}
  <a href="{{ include.link }}">
    <img src="{{ include.image }}" alt="{{ _alt }}">
  </a>
  {% else %}
  <a class="lightbox-trigger" href="{{ include.image }}" aria-label="View larger image">
    <img src="{{ include.image }}" alt="{{ _alt }}">
  </a>
  {% endif %}
  {% if include.caption %}
  <figcaption>{{ include.caption | markdownify | remove: '<p>' | remove: '</p>' | strip }}</figcaption>
  {% endif %}
</figure>
