<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-layout">
      <div class="footer-socials">
        <a href="https://www.youtube.com/@brianbarnardart" title="YouTube">{% include icons/youtube.svg %}</a>
        <a href="https://www.instagram.com/brianbarnardart/" title="Instagram">{% include icons/instagram.svg %}</a>
        <a href="https://www.facebook.com/brianbarnardart/" title="Facebook">{% include icons/facebook.svg %}</a>
        <a href="https://www.linkedin.com/in/brian-barnard-60b7b543" title="LinkedIn">{% include icons/linkedin.svg %}</a>
      </div>
      <div class="footer-links">
        <span>All Art &copy; {{ 'now' | date: "%Y" }}</span>
        <span>|</span>
        <b><a href="{{ '/contact/' | relative_url }}">Contact Brian Barnard</a></b><br>
        <a href="{{ '/' | relative_url }}">[Home]</a>
      </div>
    </div>
  </div>
</footer>
